body {
    margin: 0;
    user-select: none;
}

#MainInventoryContainer {
    width: 76em;
    height: 40em;
    background: #191919c9;
    position: fixed;
    top: 50%;
    left: 50%;
    /* border: solid 0.1em #0051ff; */
    /* border-radius: 10px; */
    transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200&display=swap');
#PersonalInventorySpaceContainer {
    background-color: #101010e6;
    position: relative;
    top: 4em;
    left: 3em;
    border-radius: 6px;
    width: 27em;
    height: 30em;
}

#SecondInventorySpaceContainer {
    background-color: #101010e6;
    position: relative;
    left: 45.3em;
    height: 30em;
    bottom: 25.9em;
    border-radius: 6px;
    width: 27em;
}

#SecondInventoryLine {
    background: grey;
    width: 100%;
    height: 0.2em;
    bottom: 22em;
    position: relative;
}

@font-face {
    font-family: inventoryFont;
    src: url(./assets/ChaletComprimeCologneSixty.ttf);
}

#ButtonRow1 {
    width: 15.3em;
    height: auto;
    position: relative;
    bottom: 52em;
    left: 32em;
    float: left;
}

#ButtonRow1>div {
    width: 10em;
    height: 3em;
    float: left;
    margin-left: 0.8em;
    margin-bottom: 0.6em;
    background-color: #101010e6;
    border: solid 0.1em #101010e6;
    text-align: center;
    justify-content: center;
}

.InvText{
    font-family: 'inventoryFont', sans-serif;
    position: relative;
    font-size: 30px;
    top: 3%;
    color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center
}

#ButtonRow1>div:hover {
    background-color: #ffffff6d;
}

#ButtonRow1>div>span {
    color: rgb(255, 1, 1);
    font-family: 'inventoryFont', sans-serif;
    position: relative;
    font-size: 1.8em;
    top: 0.2em;
}


#InventoryLine {
    width: 91%;
    background: #f50404;
    height: 0.09em;
    position: relative;
    left: 3em;
    top: 2em;
}

#InventoryText {
     font-family: 'inventoryFont', sans-serif;
    color: #f30606;
    position: relative;
    font-size: 20PX;
    bottom: 22em;
    left: 15.5em;
}

#SecondInventoryWeight {
    color: rgb(94, 28, 180);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}

#PersonalInventoryWeight {
    color: rgb(169, 44, 185);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

table {
    width: 100%;
    height: 100%;
    color: rgb(243, 15, 15);
    display: inline-table;
    border-collapse: collapse;
}

tbody {
    display: table-header-group;
}

td {
    padding: 0em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    justify-content: center;
    font-size: 0.8em;
    border: none;
}

th {
    text-align: center;
}

th {
    padding: 0.4em;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

#HeaderTable {
    height: 1em;
    color: rgb(231, 14, 14);
    font-size: 0.8em;
}

.ItemTable>td {
    padding-top: 0.5em;
}

.ItemSecondTable>td {
    padding-top: 0.5em;
}

.ItemSelected {
    border: none;
    background-color: #ffffff6d;
}

#ndInventoryText {
    position: fixed;
    color: #f11111;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    opacity: 0.6;
    top: 18em;
    left: 41.8em;
    width: 52em;
}